.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .layout-header {
    background-color: #282c34;
    padding: 1rem;
    color: white;
  }
  
  .layout-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .layout-nav li {
    margin-right: 1rem;
  }
  
  .layout-nav a {
    color: white;
    text-decoration: none;
  }
  
  .layout-main {
    flex: 1;
    padding: 1rem;
  /*   display: flex;
	  flex-direction: row; */

  }
  
  .layout-footer {
    background-color: #282c34;
    padding: 1rem;
    color: white;
    text-align: center;
  }
  