.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.accordion-item {
  border-top: 1px solid #ddd;
}

.accordion-header {
  padding: 1rem;
  background-color: #f7f7f7;
  cursor: pointer;
  user-select: none;
}

.accordion-header:hover {
  background-color: #e7e7e7;
}

.accordion-content {
  padding: 1rem;
  background-color: white;
}
