.timer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 20px;
  }
  
  .timer h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .timer .MuiButton-root {
    margin-top: 20px;
  }
  
  .timer .MuiList-root {
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .timer .MuiListItem-root {
    text-align: left;
  }
  
  .timer strong {
    font-weight: bold;
    color: red;
  }
  
  .max-record {
    margin-top: 20px;
    color: blue;
  }
  