.components-page {
  display: flex;
}

.components-content {
  flex: 1;
  padding: 1rem;
  margin-left: 420px; /* 사이드 메뉴 너비를 고려한 마진 */
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
